nav{
    padding-top: 0px;
    background:linear-gradient(270deg, #4632F5 0.26%, #5185EF 99.75%) !important;
    color: white !important;
    height: 9vh;
}

.overlay{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.1);
    // padding-left: 12vh;
    // padding-right: 12vh;
    padding: 2vh 12vh 2vh 12vh;
}

ul{
    margin-left: 22vw;
}

.white-text{
    color: white;
  }

.black-text{
    color: rgb(0, 0, 0);
    }

.card-space{
    margin: 0px 2vw;
}

.sign-up{
    border-radius: 60px;
    border: 1px solid var(--primary-light, #5185EF);
}