<section class="opening-section">
    <p class="heading">Welcome Back!</p>
    <p class="sub-heading">Your current Learning progress</p>
</section>
<section class="d-flex flex-row mb-2 content-section">
    <div class="p-2">
        <iframe *ngIf="!audio" width="570" height="315" [src]=newVideoLink title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe *ngIf="audio" style='border-radius:12px' [src]=newLink width='100%' height='352' frameBorder='0' allowfullscreen='' allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture' loading='lazy'></iframe>
        <p class="course-title">{{title}}</p>
        <p>Master programming techniques from beginner to advanced!  API, frontend Query, Tailwind, advanced patterns</p>
        <p>form Beginner . All Levels  .  in 3 - 6 Months</p>
        <div class="sections-nav">
            <p class="sub-heading">About this course</p>
            <p>Upscale you tech skill and expand your know by coding along with this course: {{title}}</p>
    </div>
    </div>
    <div class="p-2 sections-nav">
        <p (click)="toVideo()">Video Content</p>
        <p (click)="toAudio()">Audio Content</p>
    </div>
</section>

<app-footer></app-footer>
