<section class="profile_layout">
  <div class="first_section">
    <div class="first-column">
        <div class="profile_card">
         <h2 class="profile_header">Personal details</h2>
         <img src="../../../assets/avatar.png"  alt="">
         <h1>{{user?.username}}</h1>
         <p>Newbie</p>
         <button>
            <img src="../../../assets/carbon_link.png" alt="">
            <p>Upgrade account</p>
         </button>
        </div>

        <div class="upload-card">
         <button>
            <div class="cert">
                <img src="../../../assets/document-text.png" alt="">
                <p>Video courses</p>
            </div>
            <img src="../../../assets/check-green.png" alt="">
         </button>
         <button>
            <div class="cert">
                <img src="../../../assets/document-text.png" alt="">
                <p>Audio courses</p>
            </div>
            <img src="../../../assets/check-green.png" alt="">
         </button>
       
         <h2>Next tier</h2>
         <button class="upload-button">
            <div class="cert">
                <img src="../../../assets/document.png" alt="">
                <p>Multiple sections</p>
            </div>
            <!-- <img src="../../../assets/check-white.png" alt=""> -->
         </button>
         <button class="upload-button">
            <div class="cert">
                <img src="../../../assets/document.png" alt="">
                <p>Monetization</p>
            </div>
            <!-- <img src="../../../assets/check-white.png" alt=""> -->
         </button>
        </div>

    </div>
    <div class="second-column">
        <div class="details-section">
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Personal Info</h2>
                   <!-- <img src="../../../assets/edit.png" alt=""> -->
               </div>
               <div class="details">
                   <div class="name">
                      <h2>Name</h2>
                      <p>{{user?.username}}</p>
                   </div>
   
                   <div class="name">
                       <h2>Email</h2>
                       <p>{{user?.email}}</p>
                   </div>
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Unique identifier</h2>
                   <!-- <img src="../../../assets/edit.png" alt=""> -->
               </div>
               <div class="details">
                   <div class="name">
                      <h2>User Id</h2>
                      <p>{{user?._id}}</p>
                   </div>
   
                   <div class="name">
                   </div>
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Contact</h2>
                   <!-- <img src="../../../assets/edit.png" alt=""> -->
               </div>
               <div class="details">
                   <div class="name">
                      <p>{{user?.email}}</p>
                   </div>
   
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Country</h2>
                   <!-- <img src="../../../assets/edit.png" alt=""> -->
               </div>
               <div class="details">
                   <div class="name">
                
                      <p>Nigeria</p>
                   </div>
   
               </div>
   
           </div>
        </div>

        <div class="about-card">
          <h2>Newbie </h2>
          <p>Newbies are allowed to create only free courses, with a video hosted on a free video hosting platform like youtube and a podcast or audio</p>
          <!-- <img src="../../../assets/edit.png" alt=""> -->
        </div>
         <h1 class="title">Experience</h1>
        <div class="experience-card">
            <div class="ex-card-layout">
                 <div class="work-history">
                    <h2>Work history</h2>
                    <p>Add your past work experience here. If you’re just starting out, you can add internships or volunteer experience instead.</p>
                 </div>
                 <button>
                    Coming soon 
                 </button>
            </div>
          
        
        </div>
        <!-- <div class="experience-card2">
            <div class="ex-card-layout2">
                 <h2>TechSolutions Inc.     -     Frontend Developer    |      June 2022 - Present </h2>
                 <p>As a frontend developer at TechSolutions Inc., I played a pivotal role in transforming design concepts into functional and visually appealing web applications. I collaborated closely with the design team to ensure pixel-perfect implementation and utilized modern frontend technologies, such as React and SCSS, to enhance user interactivity. Additionally, I contributed to performance optimization efforts, resulting in a 20% improvement in page load times, significantly enhancing the user experience.</p>
            </div>
          
        
        </div>
        <div class="experience-card2">
            <div class="ex-card-layout2">
                 <h2>CreativeWeb Studios     -    Web Designer & Developer    |      January 2020 - May 2021 </h2>
                 <p>During my tenure at CreativeWeb Studios, I led the design and development of various client websites across diverse industries. I created custom, responsive websites using HTML5 and CSS3, incorporating innovative design elements and ensuring cross-browser compatibility. My work not only satisfied clients' visual requirements but also led to a 30% increase in user engagement on average, proving the impact of user-centered design on digital success.</p>
            </div>
          
        
        </div> -->

       

    </div>
  </div>

  <h1 class="title">Education</h1>

  <div class="experience-card">
      <div class="ex-card-layout">
           <div class="work-history">
              <h2>Credential</h2>
              <p>Add your educational background here to let employers know where you studied or are currently studying.</p>
           </div>
           <button>
            Coming soon 
           </button>
      </div>
  </div>

  <!-- <div class="experience-card2">
    <div class="ex-card-layout2">
         <h2>MASTER DEGREE    |     2020</h2>
         <p>Information Technology    -     University of Nigeria</p>
    </div>
</div> -->

<h1 class="title">My courses</h1>

<div class="course-layout">
  <app-course-card-profile *ngFor="let item of courses; index as i" [title]=item.name  [routerLink]="['/course',  item._id]"></app-course-card-profile>


<div class="new-course" *ngIf="!inputingCourse" (click)="onInputCourse()" >
    <img src="../../../assets/new-course.png" alt="">
</div>
<div *ngIf="inputingCourse" class="course-form">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Course title / description</label>
    <textarea class="form-control" [(ngModel)]="course.name" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Course video</label>
    <input type="email" [(ngModel)]="course.video" class="form-control" id="exampleFormControlInput1" placeholder="Paste video embed link here">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Course audio</label>
    <input type="email" [(ngModel)]="course.audio" class="form-control" id="exampleFormControlInput1" placeholder="Paste audio embed link here">
  </div>

<button type="button" (click)="onCreateCourse()" class="btn btn-primary btn-lg btn-block">{{create}}</button>
</div>
  
</div>


  <div class="Skill-section">
    <h1 class="title">Skills</h1>
    <div class="skill1">
          <div class="skill-set">
            Communication
          </div>
          <div class="skill-set">
            Adaptability
          </div>
          <div class="skill-set">
            Empathy
          </div>
          <div class="skill-set">
            Problem-Solving
          </div>
          <div class="skill-set">
            Time Management
          </div>
          <div class="skill-set">
            Creativity
          </div>
    </div>
    <div class="skill2">
          <div class="skill-set">
            Adaptability
          </div>
          <div class="skill-set">
            Leadership
          </div>
          <div class="skill-set">
            Patience
          </div>
          <div class="skill-set">
            Stress Management
          </div>
          <div class="skill-set">
            Feedback and Assessment
          </div>
          <div class="skill-set">
            Networking
          </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
