<div class="profile_layout">
  <div class="first_section">
    <div class="first-column">
        <div class="profile_card">
         <h2 class="profile_header">Personal details</h2>
         <img src="../../../assets/avatar.png"  alt="">
         <h1>John Doe</h1>
         <p>Frontend Developer Expert</p>
         <button>
            <img src="../../../assets/carbon_link.png" alt="">
            <p>Share profile link</p>
         </button>
        </div>

        <div class="upload-card">
         <button>
            <div class="cert">
                <img src="../../../assets/document-text.png" alt="">
                <p>marvcertificate.pdf</p>
            </div>
            <img src="../../../assets/check-green.png" alt="">
         </button>
         <button>
            <div class="cert">
                <img src="../../../assets/document-text.png" alt="">
                <p>marvcertificate.pdf</p>
            </div>
            <img src="../../../assets/check-green.png" alt="">
         </button>
       
         <h2>Curriculum Vitae</h2>
         <button class="upload-button">
            <div class="cert">
                <img src="../../../assets/document.png" alt="">
                <p>marvicv.pdf</p>
            </div>
            <img src="../../../assets/check-white.png" alt="">
         </button>
         <h2>Identification</h2>
         <button class="upload-button">
            <div class="cert">
                <img src="../../../assets/document.png" alt="">
                <p>marvicv.pd</p>
            </div>
            <img src="../../../assets/check-white.png" alt="">
         </button>
        </div>

    </div>
    <div class="second-column">
        <div class="details-section">
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Personal Info</h2>
                   <img src="../../../assets/edit.png" alt="">
               </div>
               <div class="details">
                   <div class="name">
                      <h2>Name</h2>
                      <p>John Doe</p>
                   </div>
   
                   <div class="name">
                       <h2>Email</h2>
                       <p>johndoe@gmail.com</p>
                   </div>
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Password</h2>
                   <img src="../../../assets/edit.png" alt="">
               </div>
               <div class="details">
                   <div class="name">
                      <h2>Old Password</h2>
                      <p>***********</p>
                   </div>
   
                   <div class="name">
                       <h2>New Password</h2>
                       <p>New Password</p>
                   </div>
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Contact</h2>
                   <img src="../../../assets/edit.png" alt="">
               </div>
               <div class="details">
                   <div class="name">
               
                      <p>+234 456 878 0897</p>
                   </div>
   
               </div>
   
           </div>
           <div class="personal-info">
               <div class="personal-info-container">
                   <h2>Address</h2>
                   <img src="../../../assets/edit.png" alt="">
               </div>
               <div class="details">
                   <div class="name">
                
                      <p>Lagos, Nigeria</p>
                   </div>
   
               </div>
   
           </div>
        </div>

        <div class="about-card">
          <h2>About Me</h2>
          <p>I'm a frontend enthusiast with expertise in HTML, CSS, and JavaScript. I'm dedicated to crafting seamless user experiences through elegant design and clean code. I thrive on turning ideas into engaging web solutions.</p>
          <img src="../../../assets/edit.png" alt="">
        </div>
         <h1 class="title">Experience</h1>
        <div class="experience-card">
            <div class="ex-card-layout">
                 <div class="work-history">
                    <h2>Work history</h2>
                    <p>Add your past work experience here. If you’re just starting out, you can add internships or volunteer experience instead.</p>
                 </div>
                 <button>
                    Add work experience 
                 </button>
            </div>
          
        
        </div>
        <div class="experience-card2">
            <div class="ex-card-layout2">
                 <h2>TechSolutions Inc.     -     Frontend Developer    |      June 2022 - Present </h2>
                 <p>As a frontend developer at TechSolutions Inc., I played a pivotal role in transforming design concepts into functional and visually appealing web applications. I collaborated closely with the design team to ensure pixel-perfect implementation and utilized modern frontend technologies, such as React and SCSS, to enhance user interactivity. Additionally, I contributed to performance optimization efforts, resulting in a 20% improvement in page load times, significantly enhancing the user experience.</p>
            </div>
          
        
        </div>
        <div class="experience-card2">
            <div class="ex-card-layout2">
                 <h2>CreativeWeb Studios     -    Web Designer & Developer    |      January 2020 - May 2021 </h2>
                 <p>During my tenure at CreativeWeb Studios, I led the design and development of various client websites across diverse industries. I created custom, responsive websites using HTML5 and CSS3, incorporating innovative design elements and ensuring cross-browser compatibility. My work not only satisfied clients' visual requirements but also led to a 30% increase in user engagement on average, proving the impact of user-centered design on digital success.</p>
            </div>
          
        
        </div>

       

    </div>
  </div>

  <h1 class="title">Education</h1>

  <div class="experience-card">
      <div class="ex-card-layout">
           <div class="work-history">
              <h2>Credential</h2>
              <p>Add your educational background here to let employers know where you studied or are currently studying.</p>
           </div>
           <button>
              Add Education
           </button>
      </div>
  </div>

  <div class="experience-card2">
    <div class="ex-card-layout2">
         <h2>MASTER DEGREE    |     2020</h2>
         <p>Information Technology    -     University of Nigeria</p>
    </div>
</div>

<h1 class="title">My courses</h1>

<div class="course-layout">
    <div class="course-card">
        <img src="../../../assets/hello.png" alt="">
     <div class="course-details" >
       <h2>Coding for Everyone: C and C++ </h2>
       <p>C Programming Language Family, Computer Programming, C++ Programming, Computer Science, Data..</p>
       <div class="star-layout">
           <div class="star">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
           </div>
          <p > <span class="">5.0</span> (12k Students)</p>
       </div>
       <p>Beginner . Specialization  .  3 - 6 Months</p>
     </div>
    
     <div class="status">
     <h2>Published</h2>
    </div>
</div>

    <div class="course-card">
        <img src="../../../assets/blue-rectangle.png" alt="">
     <div class="course-details" >
       <h2>The Ultimate React Course 2023</h2>
       <p> Master modern React from beginner to advanced! Context API, React Query, Tailwind, advanced patterns</p>
       <div class="star-layout">
           <div class="star">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
              <img src="../../../assets/star.png" alt="">
           </div>
          <p > <span class="">5.0</span> (12k Students)</p>
       </div>
       <p>Beginner . Specialization  .  3 - 6 Months</p>
     </div>
    
     <div class="status">
     <h2>Draft</h2>
    </div>
</div>

<div class="new-course">
    <img src="../../../assets/new-course.png" alt="">
</div>

</div>


  <div class="Skill-section">
    <h1 class="title">Skills</h1>
    <div class="skill1">
          <div class="skill-set">
            Communication
          </div>
          <div class="skill-set">
            Adaptability
          </div>
          <div class="skill-set">
            Empathy
          </div>
          <div class="skill-set">
            Problem-Solving
          </div>
          <div class="skill-set">
            Time Management
          </div>
          <div class="skill-set">
            Creativity
          </div>
    </div>
    <div class="skill2">
          <div class="skill-set">
            Adaptability
          </div>
          <div class="skill-set">
            Leadership
          </div>
          <div class="skill-set">
            Patience
          </div>
          <div class="skill-set">
            Stress Management
          </div>
          <div class="skill-set">
            Feedback and Assessment
          </div>
          <div class="skill-set">
            Networking
          </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
