<div class="d-flex flex-row mb-2">
    <div class="p-2">
        <h1>Personal details</h1>
        <div>
            <button type="button"></button>
        </div>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <h1>Identification</h1>
            <button type="button"></button>
        </div>
    </div>
    <div class="p-2">
        <div class="d-flex flex-row mb-2">
            <div class="p-2">
        
            </div>
            <div class="p-2">
             
            </div>
        </div>
        <div class="d-flex flex-row mb-2">
            <div class="p-2">
        
            </div>
            <div class="p-2">
             
            </div>
        </div>
        <div>
            
        </div>
    </div>
</div>
<app-footer></app-footer>
