<div class="course-card">
    <img src="../../../assets/blue-rectangle.png" alt="">
 <div class="course-details" >
   <h2>{{title}}</h2>
   <div class="star-layout">
       <div class="star">
          <img src="../../../assets/star.png" alt="">
          <img src="../../../assets/star.png" alt="">
          <img src="../../../assets/star.png" alt="">
          <img src="../../../assets/star.png" alt="">
          <img src="../../../assets/star.png" alt="">
       </div>
   </div>
   <p>Beginner . Specialization  .  1 - 3 Months</p>
 </div>
 <div class="status">
   <h2>Published</h2>
</div>
</div>