<div class="container">
  <form action="">
    <div class="header">
      <h1>Login to Marvcademy</h1>
    </div>
    <label for="">Email or Username</label>
    <input type="email" name="EmailId" [(ngModel)]="loginObj.email" required="">
    <label for="">Password</label>
    <input type="password" name="Password" [(ngModel)]="loginObj.password" required="">
    <a href="#">I forgot my password</a>
    <input type="submit" (click)="onLogin()" value="Log In">
  </form>
  <div class="footer">
    <a href="#">Not a member yet? <strong>Sign up free</strong></a>
  </div>
</div>

