<!-- <app-dashboard></app-dashboard> -->

<div class="dashboard-layout">
  <div class="dash-section1">
    <div class="dash-img">
        <img src="../assets/dashboard-img.png" alt="">
        <div class="text-float">
            <h2>Active Learning</h2>
            <p>Experience quality teachings</p>
        </div>
    </div>
  </div>

  <div class="dash-section2">
      <div class="first-column">
          <div class="profile_card">
            <h2 class="profile_header">Personal details</h2>
            <img src="../assets/avatar.png"  alt="">
            <h1>John Doe</h1>
            <p>Frontend Developer Expert</p>
            <button>
               <img src="../assets/carbon_link.png" alt="">
               <p>Share profile link</p>
            </button>
           </div>

           <div class="upload-card">
            <button class="add-info">
                <img src="../assets/ic_outline-plus.png" alt="">
                <p>Add Additional info</p>
             </button>
            <button class="but1">
               <div class="cert">
                   <img src="../assets/document-text.png" alt="">
                   <p>marvcertificate.pdf</p>
               </div>
               <img src="../assets/check-green.png" alt="">
            </button>
          
          
            <h2>Identification</h2>
            <button class="upload-button">
               <div class="cert2">
                   <img src="../assets/document.png" alt="">
                   <p>marvicv.pd</p>
               </div>
               <img src="../assets/check-white.png" alt="">
            </button>
           </div>
      </div>

      <div class="second-column">
           <div class="welcome">
               <h2><span>Hi</span>, Success</h2>
               <p>Current learning Progress</p>
           </div>

           <div class="course-progress">
                 <img src="../assets/vid.png" alt="">

                 <div class="course-details" >
                    <h2>Coding for Everyone: C and C++ </h2>
                    <p>C Programming Language Family, Computer Programming, C++ Programming, Computer Science, Data..</p>
                    <div class="star-layout">
                        <div class="star">
                           <img src="../assets/star2.png" alt="">
                           <img src="../assets/star2.png" alt="">
                           <img src="../assets/star2.png" alt="">
                           <img src="../assets/star2.png" alt="">
                           <img src="../assets/star2.png" alt="">
                        </div>
                       <p > <span class="">4.5</span> (10k Reviews)</p>
                    </div>
                    <h4>Continue</h4>
                  </div>

           </div>

           <div class="ongoing"> 
             <h2>Ongoing Courses</h2>
             <p>Status</p>
           </div>

           <div class="course-progress-card">
                <div class="progress-row">
                <img src="../assets/hello.png" alt="">
                <div class="course-progress-layout" >
                    <div class="prgress-row-space">
                        <h2>C and C++</h2>
                         <h2>64%</h2>
                    </div>
                    <div class="progress-bar">
                        <div class="current-progress">

                        </div>
                    </div>
                </div>
                </div>
           </div>
           <div class="course-progress-card">
                <div class="progress-row">
                <img src="../assets/hello.png" alt="">
                <div class="course-progress-layout" >
                    <div class="prgress-row-space">
                        <h2>C and C++</h2>
                         <h2>64%</h2>
                    </div>
                    <div class="progress-bar">
                        <div class="current-progress">

                        </div>
                    </div>
                </div>
                </div>
           </div>
           <div class="course-progress-card">
                <div class="progress-row">
                <img src="../assets/hello.png" alt="">
                <div class="course-progress-layout" >
                    <div class="prgress-row-space">
                        <h2>C and C++</h2>
                         <h2>64%</h2>
                    </div>
                    <div class="progress-bar">
                        <div class="current-progress">

                        </div>
                    </div>
                </div>
                </div>
           </div>

      </div>
  </div>

</div>