<div class="d-flex flex-row mb-3">
    <div class="p-2">
        <img src="../../../assets/css video thumbnail 1.png" alt="">
    </div>
    <div class="p-2">
        <h4>HTML, CSS, and Javascript for Web</h4>
        <p>HTML and CSS, Web Development, Data Structures, Front-End Web Development</p>
        <div></div>
        <div>
            <p>Beginner .</p>
            <p>All levels .</p>
            <p>3 - 6 Months</p>
            <igc-rating value="{{ratingVal}}" min="1" max="5"  readOnly="true" (igcChange)="ratingChanged($event);"></igc-rating>
        </div>
    </div>
</div>