/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Satoshi', sans-serif;                                           
}

section {
    padding: 20vh 20vw;
}

footer{
    padding: 80px;
}