/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Satoshi', sans-serif;     
    background: rgba(246, 246, 246, 1)                                    
}

section {
    padding: 20vh 10vw;
}

footer{
    padding: 80px;
}