<section>
    <h1>Active Learning</h1>
    <p>Experience quality teaching</p>
    <p>DASHBOARD</p>
</section>
<div class="d-flex flex-row mb-2">
    <div class="p-2">
        <div>
            <button type="button"></button>
        </div>
        <div>
            <button type="button"></button>
            <button type="button"></button>
            <h1>Identification</h1>
            <button type="button"></button>
        </div>
    </div>
    <div class="p-2">
        <h1>Hi, {{lastname}}</h1>
        <p>Current learning Progress</p>
        <app-course-card></app-course-card>
        <p>Ongoing Courses</p>
        <app-course-progress></app-course-progress>
    </div>
</div>
<app-footer></app-footer>